<ion-view view-title="Dashboard" cache-view="false">
  <ion-content class="padding">

    <!--<div class="list card">
      <div class="item item-divider">Last Updated</div>
      <div class="item item-body">
        <div>
          Last patient added on <b>21-12-2015 5:00PM</b>.
        </div>
      </div>
    </div>-->

    <!--<div class="list card">
      <div class="item item-divider">Patients Added Today</div>
      <div class="item item-body">
        <div>
          There are <b>3</b> patients added today.
        </div>
      </div>
    </div>-->

    <div class="list card">
      <div class="item item-divider">Total Patients</div>
      <div class="item item-body">
        <div>
          There are total <b>{{totalPatients.length}}</b> patients.
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>